.footer {
    display: flex;
    flex-direction: column;
    background-color: gray;
    gap: 1rem;
    justify-content: space-around;
    padding: 1rem;
}
.footer ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.footer div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.footer img {
    max-width: 1.5rem;
    max-height: 1.5rem;
}

.footer h5 {
    font-size: 100%;
    font-weight: bold;
}